
<div class="row">
    <form class="input-group pull-right col-md-3 search">
        <input name="ipContent" id="ipContent" class="form-control" title="搜索内容从服务器" placeholder="搜索内容"/>
        <div class="input-group-btn">
            <button class="btn btn-default"  asp-controller="Content" asp-action="SearchContent" type="submit" title="开始搜索">搜索</button>
        </div>
    </form>
</div>