
@{
//举报详细
/*
 * //@model EntityAbstract.Model.DbModels.Report
 <h3>
举报详细(一个用户只能存在一个举报)
</h3>
<div class="text-center row">
<div class="form-group">
    <label>@Model.Uri</label>
</div>
<div class="form-group">
    <label>@Model.State</label>
</div>
</div>
*/
}
