@using SharedEA.Core.Model.DbModels;
@{
    //用户举报
    //一个用户只能发一条
    ViewData["Title"] = "举报";
    /*
     * @model Report
     * <h3>@ViewData["Title"]</h3>
<div asp-validation-summary="All">

</div>
<form method="post" class="row text-center">
    <div class="form-group">
        <label class="row">举报uri，只能是本站帖子uri</label>
    </div>
    <div class="form-group">
        <input class="row" asp-for="Uri" placeholder="uri"/>
    </div>
    <div class="row">
        <button type="submit" asp-action="UserReport" class="btn btn-info btn-send">发送</button>
    </div>
</form>

     */
}
